@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

h1{
    text-align: center;
}
body{
    background: #f5f5f5;
    padding: 1rem 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background: linear-gradient(45deg,rgba(185, 205, 250, 0.8),rgba(8, 45, 130, 0.7)), url('images/eugenepic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    color: rgb(233, 152, 32);
    font-family: 'Orbitron', sans-serif;
}
#input{
    font-size: 18px;
    padding: 7px 10px;
    outline: none;
    border: none;
    border-radius: 17px;
    background: #f0f8ff;
}
#search{
    background: none;
    padding: 5px 20px;
    color: #ecf2f8;
    outline: none;
    background: rgb(109, 193, 196);
    font-size: 17px;
    border-radius: 17px;
    cursor: pointer;
    border: none;
}
.weather{
    text-align: center;
    color: rgb(203, 224, 241);
}
#city{
    font-size: 31px;
}
.weather img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(204, 219, 235, 0.5);
}
#temperature{
    font-size: 50px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}
.temp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
#clouds{
    font-size: 20px;
    background: rgba(164, 224, 44, 0.8);
    padding: 3px 20px;
    border-radius: 15px;
}
main{
    display: grid;
    grid-column-gap: 26px;
    grid-template-columns: 2fr 5px 2fr;
    align-items: center;
    margin: 0 50px;
    color: rgb(228, 218, 218);
}
.next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.next p,.next h3{
    margin: 3px 0;
}
.forecstD{
    margin: 20px 50px;
    color: rgb(208, 214, 219);
}
.weekF{
    display: grid;
    grid-template-columns: repeat(4,2fr);
}
.cast-header{
    color: aliceblue;
    background: rgba(223, 165, 114, 0.6);
    width: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 5px;
}
.divider1,.divider2{
    background: rgba(226, 169, 119, 0.6);
    height: 200px;
    border-radius: 5px;
}
.divider2{
    height: 5px;
    width: 30%;
    margin: 0 auto;
}
.time,.date{
    color: rgb(228, 163, 107);
}
.desc{
    color: rgb(178, 245, 44);
}